body {
  margin-top: 56px; }

.navbar {
  box-shadow: 2px 2px 5px #7facd6;
  opacity: 0.8; }
  .navbar .nav-item {
    font-size: 1rem;
    padding-right: 20px;
    color: #fff !important; }

#home-page {
  background: url("../img/earth-home.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 650px; }

#myName, #myTitle {
  opacity: 1;
  letter-spacing: 3px;
  display: block;
  transform: perspective(800px);
  font-family: 'Orbitron', sans-serif !important;
  color: #eff0f7;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: -1px 6px 10px #ededed, 0 0 0px white, 0 0 30px #00ffff, 0 0 2px #00ffff, 0 0 70px #80C6FF, 0 0 80px #2753c4, 0 0 100px #ededf7;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
  @media (max-width: 576px) {
    #myName, #myTitle {
      letter-spacing: 0px;
      font-size: 3em; } }

#tagline .info-header {
  color: #80C6FF;
  font-family: "Changa", sans-serif;
  text-transform: uppercase; }

#about {
  background: #001C33; }
  #about #aboutme {
    color: #fff;
    font-size: 18px; }
  #about img {
    margin-top: -50px; }

#projects .card {
  height: 50%; }

#projects h1 {
  color: #80C6FF;
  font-family: "Changa", sans-serif;
  text-transform: uppercase; }

#projects .col-lg-8 {
  margin-top: 1em; }

#skills {
  background: url("../img/galaxy.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  color: #fff;
  font-family: "Changa", sans-serif; }
  #skills h1 {
    color: #fff;
    font-family: "Changa", sans-serif;
    text-transform: uppercase; }
  #skills .p-5 {
    font-size: 7em; }
  #skills .icon {
    margin-top: 20px; }

#main-footer {
  background: #001C33; }

textarea {
  height: 100px; }

#contact .fa, #contact a {
  font-size: 30px; }

#contact a {
  text-decoration: none;
  color: #000; }
  #contact a:hover {
    text-decoration: underline; }

#contact .card-body {
  background: #7facd6;
  color: #fff; }
