html {
  overflow-x: hidden; }

body {
  margin-top: 56px; }

.navbar {
  box-shadow: 2px 2px 5px #7facd6;
  opacity: 0.8; }
  .navbar .nav-item {
    font-size: 1rem;
    padding-right: 20px;
    color: #fff !important; }

#home-page {
  background: url("../img/earth-home.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 650px;
  z-index: 0; }

#intro-canvas {
  z-index: 1;
  margin-top: -18em;
  margin-left: -5em; }

#myName, #myTitle {
  opacity: 1;
  letter-spacing: 3px;
  display: block;
  transform: perspective(800px);
  font-family: 'Orbitron', sans-serif !important;
  color: #eff0f7;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: -1px 6px 10px #ededed, 0 0 0px white, 0 0 30px #00ffff, 0 0 2px #00ffff, 0 0 70px #80C6FF, 0 0 80px #2753c4, 0 0 100px #ededf7;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 2; }
  @media (max-width: 576px) {
    #myName, #myTitle {
      letter-spacing: 0px;
      font-size: 3em; } }

#tagline {
  background: #000; }
  #tagline .info-header {
    color: #80C6FF;
    font-family: "Exo", sans-serif;
    text-transform: uppercase; }

#about {
  background: #001C33;
  font-family: 'Montserrat', sans-serif; }
  #about #aboutme {
    color: #fff;
    font-size: 18px; }
  #about img {
    margin-top: -50px; }

#projects {
  background: #000; }
  #projects .featured .card {
    height: 500px; }
  #projects .garnet img {
    margin-left: -6em;
    height: 400px; }
  #projects h1 {
    color: #80C6FF;
    font-family: "Exo", sans-serif;
    text-transform: uppercase; }
  #projects .col-lg-8 {
    margin-top: 1em; }

#skills {
  background: url("../img/galaxy.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  color: #fff;
  font-family: "Exo", sans-serif; }
  @media (max-width: 576px) {
    #skills {
      background: #001C33; } }
  #skills h1 {
    color: #7facd6;
    font-family: "Exo", sans-serif;
    text-transform: uppercase; }
  #skills .p-5 {
    font-size: 7em; }
    @media (max-width: 576px) {
      #skills .p-5 {
        font-size: 10em; } }
    @media (max-width: 320px) {
      #skills .p-5 {
        font-size: 7em; } }
  #skills .icon {
    margin-top: 20px; }
  #skills .marina img {
    margin-top: 15em;
    height: 250px; }

textarea {
  height: 100px; }

#contact {
  background: #001C33; }
  #contact h1 {
    color: #7facd6;
    font-family: "Exo", sans-serif; }
  #contact .fa, #contact a {
    font-size: 30px; }
    @media (max-width: 576px) {
      #contact .fa, #contact a {
        font-size: 20px; } }
  #contact a {
    text-decoration: none;
    margin-left: 15px;
    color: #000; }
    #contact a:hover {
      text-decoration: underline;
      color: #fff; }
  #contact .card {
    color: #000; }
    @media (max-width: 1024px) {
      #contact .card {
        width: 500px; } }
    @media (max-width: 576px) {
      #contact .card {
        width: 339px; } }
    @media (max-width: 320px) {
      #contact .card {
        width: 328px; } }
    @media (max-width: 320px) {
      #contact .card {
        font-size: 16px; }
        #contact .card h1 {
          font-size: 1.5em; } }
    #contact .card:hover {
      background: #7facd6; }
      #contact .card:hover h1 {
        color: #001C33; }
  #contact .yuna img {
    height: 500px; }

#main-footer {
  background: #000;
  border-top: 0.5px solid #7facd6; }
